* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f0dec7;
}

h1 {
    font-size: 5vw;
}

.heading {
    height: 230px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: #eb9f58;
    color: white;
    border-radius: 30px;
}